body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 750;
  margin: 0; /* Ensure no default margin */
  padding: 0; /* Ensure no default padding */
}

/* Landscape mode */
@media only screen and (orientation: landscape) {
  .App-header {
    flex-direction: row; /* Align header elements horizontally in landscape mode */
    justify-content: space-around; /* Space out header items */
  }
}

/* Portrait mode */
@media only screen and (orientation: portrait) {
  body {
    overflow: auto; /* Enable scrolling */
    transform: none; /* Remove rotation */
  }
  
  .container {
    width: 100vw;
    height: auto; /* Adjust height as needed */
    overflow: auto;
  }
}
